## RANGE

Its a generator

date: 03/2020

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

Generate numbers all the way up to but not including 10

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(3,10, 2):
    print(num)

3
5
7
9

In [6]:
list(range(3,10, 2))

[3, 5, 7, 9]

## ENUMERATOR

It can take any enumerable object

In [7]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [26]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

Tuple Unpacking

In [27]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

## ZIP

Very useful for zipping together two lists

In [29]:
my_list1 = ['a','b','c']
my_list2 = [1,2, 3]

In [31]:
zip(my_list1, my_list2)

In [33]:
for item in zip(my_list1, my_list2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [34]:
my_list1 = ['a','b','c']
my_list2 = [1,2, 3]
my_list3 = [100,200,300]

In [36]:
for item in zip(my_list1, my_list2, my_list3):
    print(item)

('a', 1, 100)
('b', 2, 200)
('c', 3, 300)

In [37]:
list(zip(my_list1, my_list2))

[('a', 1), ('b', 2), ('c', 3)]

## IN

In [39]:
'X' in [1,2,3,'x', 'X']

True

In [40]:
'a' in ' a world'

True

In [41]:
'mykey' in {'mykey': 345}

True

In [42]:
d = {'mykey': 345}
345 in d.values()

True

In [ ]:
345 in d.keys()

### Min Max Random

In [44]:
mylist = [12, 212, 43, 542, 54]

In [45]:
min(mylist)

12

In [46]:
max(mylist)

542

In [48]:
from random import shuffle

In [49]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [50]:
shuffle(mylist)

In place function; it return anything!

In [51]:
mylist

[4, 5, 1, 3, 6, 9, 2, 7, 10, 8]

In [52]:
from random import randint

In [55]:
randint(0,100)

93

In [56]:
randint(0,100)

60

In [57]:
mynum = randint(0,100)

In [58]:
mynum

74

## Accepting User Input

In [59]:
input('Enter a number, please:')

Enter a number, please:40

'40'

In [68]:
chose_num = input('Enter a number, please: ')

Enter a number, please: 3232

In [69]:
chose_num

'3232'

In [70]:
float(chose_num)

3232.0

In [71]:
int(chose_num)

3232

In [72]:
chose_num = int(input('Enter a number, please: '))

Enter a number, please: 4343

In [73]:
type(chose_num)

int