In [1]:
import datetime

In [3]:
t = datetime.time(5,25,1)

In [5]:
t.hour

5

In [6]:
t.minute

25

In [7]:
t.second

1

In [14]:
print(datetime.time.min)

00:00:00

In [15]:
print(datetime.time.max)

23:59:59.999999

In [16]:
print(datetime.time.resolution)

0:00:00.000001

In [17]:
today = datetime.date.today()

In [18]:
print(today)

2020-03-20

In [19]:
 today.timetuple()

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=80, tm_isdst=-1)

In [20]:
today.month

3

In [21]:
today.year

2020

In [23]:
print(datetime.date.min)

0001-01-01

In [24]:
print(datetime.date.max)

9999-12-31

In [25]:
print(datetime.date.resolution)

1 day, 0:00:00

In [31]:
d1 = datetime.date(2015,3,11)
print(d1)

2015-03-11

In [34]:
d2 = d1.replace(year=1990)

In [35]:
d2

datetime.date(1990, 3, 11)

In [37]:
d1 - d2

datetime.timedelta(days=9131)